[package]
name = "musicbrainz_rs"
version = "0.1.1"
authors = ["okno <paul.delafosse@protonmail.com>"]
repository = "https://github.com/oknozor/music_brainz_rs"
documentation = "https://docs.rs/musicbrainz_rs"
edition = "2018"
license = "MIT"
description = """
MusicBrainz Rust is a utility crate for the the
MusicBrainz API.
"""

[dependencies]

serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
reqwest = "0.9.18"
chrono = { version = "0.4", features = ["serde"] }
